@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #FCFAF5;
  color: #16201B;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
